'exception-reporting':
  'userId': 'c1efdca6-e573-3595-8736-59582e3adcc3'
'welcome':
  'showOnStartup': false
'metrics':
  'userId': '4e60b0664845f9fe97aabe8f2bbc399045dc7186'
'editor':
  'fontSize': 13
  'fontFamily': 'Menlo'
'core': {}
